.content {
	padding: 40px 85px;
}

.top_th {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.down_th {
	display: flex;
	justify-content: space-between;
}

footer {
	background: #f8f8f8;
	padding: 0 85px;
}
.top_ft {
	display: flex;
	padding: 15px ;
	justify-content: space-between;
}

footer hr {
	width: 100%;
}

.down_ft {
	display: flex;
	justify-content: center;
}

.button{
    color:orange
}